/* Estilos generales */
.ueberschrift {
  color: #ffffff;
  text-align: center;
  text-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding: 20px;
  margin: 20px auto 1px;
  font-size: 20px;
}

.introH1 {
  border: 1px solid rgba(85, 85, 85, 0.3);
  border-radius: 5px;
  box-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding-top: 1px;
  max-width: 40%; 
  margin: 0 auto;
}

.carrusel {
  display: flex;
  justify-content: center;
}

/* Estilos del carrusel */
.carruselContainer {
    width: 100%;
    overflow-x: auto; /* Scrollen erlauben */
    display: flex; /* Flexbox verwenden */
    gap: 10px; /* Abstand zwischen Elementen */
    padding: 2%; /* Innenabstand anpassen */
    justify-content: center;
  }


.carruselContainer::-webkit-scrollbar-thumb {
  background-color: rgba(211, 176, 36, 0.699);
  border-radius: 5px;
  cursor: grab;
}

/* Estilos de los elementos del carrusel */
.gridItemContent {
  flex: 0 0 auto;
  width: 150px; /* Anpassen der Breite der Grid-Elemente */
  background-color: rgba(85, 85, 85, 0.3);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 0.5px solid rgba(40, 252, 2, 0.514);
  color: inherit !important;
  text-decoration: none !important;
}

.beschreibung {
  color: white;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinear elementos al centro */
}

.gridItem img {
  max-width: 100%; /* Die Breite des Bildes wird auf die Breite des Elternelements beschränkt */
  max-height: 100%; /* Die Höhe des Bildes wird auf die Höhe des Elternelements beschränkt */
  border-radius: 5px;
}

.gridItem {
  position: relative; /* Position relativ für absolute Positionierung des Bildes */
  width: 100px; /* Breite des Grid-Elements */
  height: 170px; /* Höhe des Grid-Elements */
  overflow: hidden; /* Überlauf verstecken, um das Bild innerhalb des Rahmens zu halten */
}

.gridItemContent:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: rgba(40, 252, 2, 0.785) 0px 0 10px;
}

.gridContainer {
  margin: 0 auto;
  width: 100%; /* Volle Breite auf kleinen Bildschirmen */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  padding: 1%;
  justify-content: flex-start;
}

/* Estilos de la imagen */
.gridItem img {
  position: absolute; /* Position absolut, um das Bild innerhalb des Grid-Elements zu positionieren */
  top: 0; /* Bild oben ausrichten */
  left: 0; /* Bild links ausrichten */
  right: 0; /* Bild rechts ausrichten */
  bottom: 0; /* Bild unten ausrichten */
  margin: auto; /* Zentrierung des Bildes */
}

/* Estilos del título */
.titleContainer {
  width: 100%;
  text-align: center;
  height: 50px;
}

/* Estilos de la fecha */
.releasedateContainer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

/* Estilos para el estado activo del elemento del carrusel */
.active {
  transform: scale(1.1);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .carouselContainer {
    width: 100%; /* Volle Breite auf kleineren Bildschirmen */
    padding: 1%; /* Weniger Innenabstand */
  }

  .gridItemContent {
    width: 120px; /* Kleinere Breite für kleinere Bildschirme */
  }
}
.gridContainer {
  width: 100%; /* Volle Breite auf kleinen Bildschirmen */
  padding: 1%; /* Weniger Innenabstand */
}