.impressum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.section {
  flex: 1 1 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9c7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 24px;
  color: #333;
}

.section hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.content h3 {
  font-size: 18px;
  color: #666;
}

.content p {
  font-size: 16px;
  color: #888;
}

.platform {
  margin-top: 40px;
}

.platform h2 {
  font-size: 24px;
  color: #686868;
  margin-bottom: 10px;
  text-align: center;
}

.platform p {
  font-size: 16px;
  color: #888;
  text-align: center;
}

/* Media Queries f체r die mobile Ansicht */
@media screen and (max-width: 768px) {
  .impressum {
    justify-content: center; /* Zentrieren der Abschnitte */
  }

  .section {
    flex: 1 1 100%; /* Vollst채ndige Breite f체r die Abschnitte */
    margin: 30px; /* Verringern des Seitenabstands */
  }

  .content {
    grid-template-columns: 1fr; /* Eine Spalte f체r den Inhalt */
  }

  .platform {
    margin-top: 20px; /* Reduzieren des oberen Abstands */
  }

  .platform h2,
  .platform p {
    text-align: left; /* Links ausrichten */
  }
}
